# 20224060 황지상

In [1]:
import pandas as pd # 판다스 라이브러리
import csv # csv 라이브러리

tr = pd.read_csv("student.csv", encoding = 'utf-8')


student_x_data = tr.loc[:, ['age','activities','famsup','paid','internet','Medu','Fedu','studytime','schoolsup','G3']]
student_y_data = tr.loc[:,['pass']]


#,'G1','G2','G3'

In [2]:
tr.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,1,1,18,1,0,0,4,4,2,2,...,3,4,1,1,3,6,5,6,6,0
1,1,1,17,1,0,1,1,1,1,2,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,1,1,1,1,1,1,2,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,1
4,1,1,16,1,0,1,3,3,1,2,...,3,2,1,2,5,4,6,10,10,1

In [3]:
student_x_data.head(40)

,age,activities,famsup,paid,internet,Medu,Fedu,studytime,schoolsup,G3
0,18,0,0,0,0,4,4,2,1,6
1,17,0,1,0,1,1,1,2,0,6
2,15,0,0,1,1,1,1,2,1,10
3,15,1,1,1,1,4,2,3,0,15
4,16,0,1,1,0,3,3,2,0,10
5,16,1,1,1,1,4,3,2,0,15
6,16,0,0,0,1,2,2,2,0,11
7,17,0,1,0,0,4,4,2,1,6
8,15,0,1,1,1,3,2,2,0,19
9,15,1,1,1,1,3,4,2,0,15
10,15,0,1,1,1,4,4,2,0,9
11,15,1,1,0,1,2,1,3,0,12
12,15,1,1,1,1,4,4,1,0,14
13,15,0,1,1,1,4,3,2,0,11
14,15,0,1,0,1,2,2,3,0,16
15,16,0,1,0,1,4,4,1,0,14
16,16,1,1,1,1,4,4,3,0,14
17,16,1,1,0,0,3,3,2,1,10
18,17,1,1,0,1,3,2,1,0,5
19,16,1,0,1,1,4,3,1,0,10
20,15,0,0,0,1,4,3,2,0,15
21,15,0,1,1,1,4,4,1,0,15
22,16,1,0,0,1,4,2,2,0,16
23,16,1,1,0,1,2,2,2,0,12
24,15,1,1,1,1,2,4,3,1,8
25,16,0,1,1,1,2,2,1,0,8
26,15,0,1,1,1,2,2,1,0,11
27,15,0,0,1,1,4,2,1,0,15
28,16,1,1,0,1,3,4,2,1,11
29,16,1,1,1,1,4,4,2,0,11
30,15,0,1,1,1,4,4,2,0,12
31,15,1,1,0,1,4,4,2,0,17
32,15,1,1,0,1,4,3,2,0,16
33,15,1,0,0,1,3,3,2,0,12
34,16,0,1,1,1,3,2,1,0,15
35,15,1,1,0,0,2,3,1,0,6
36,15,1,1,0,1,4,3,3,0,18
37,16,1,1,0,1,4,4,3,0,15
38,15,1,1,1,1,3,4,3,1,11
39,15,1,1,1,0,2,2,1,1,13

In [4]:
student_y_data.head()

   pass
0     0
1     0
2     1
3     1
4     1

In [5]:
import numpy as np
import matplotlib.pyplot as plt

## y = 0.1x + 0.3 관계를 갖는 가상 데이터를 생성
# num_points = 1000 # 1000개의 데이터 쌍
# vectors_set = []

np.random.seed(1) # 재 실행 시에도 동일한 데이터 생성을 위해 랜덤 시드 값 지정
# for i in range(num_points):
#     x = np.random.normal(0.0, 0.55) 
#     # 평균 0, 표준편차 0.55를 갖는 정규분포의 난수 발생
    
#     y = x*0.1+0.3+np.random.normal(0.0, 0.03)
#     # 평균 0, 표준편차 0.03를 갖는 정규 분포를 갖는 난수의 편차 추가
    
#     vectors_set.append([x,y])
    
# x,y 데이터 분리
x_data = student_x_data
y_data = student_y_data

# # 데이터 분포 그림 그리기
# plt.plot(x_data, y_data, 'ro', label = 'Original data')

In [9]:
import torch
import torch.nn as nn
import torch.nn.functional as F

# 파이토치 텐서 훈련 데이터 생성
x_train = torch.FloatTensor(x_data.values).unsqueeze(dim=1)
# unsqueeze(dim=1): (1000,) => (1000, 1)

y_train = torch.FloatTensor(y_data.values).unsqueeze(dim=1)

# 모델을 선언 및 초기화. 단순 선형 회귀이므로 input_dim=1, output_dim=1.
model = nn.Sequential(
    nn.Linear(10,8), # 입력계층 = 1, 은닉계층1 = 5
    nn.ReLU(), # ReLu 활성화 함수
    nn.Linear(8,3), # 은닉 계층2 = 3
    nn.ReLU(), # ReLu 활성화 함수
    nn.Linear(3,1) # 출력계층 = 1
)
print(list(model.parameters()))

# optimizer 설정. 경사 하강법 SGD를 사용하고 학습 속도를 의미하는 lr은 0.1
optimizer = torch.optim.SGD(model.parameters(), lr=0.001)

# 전체 훈련 데이터에 대해 경사 하강법을 100회 반복
nb_epochs=1000

for epoch in range(nb_epochs):
    # H(x) 계산
    prediction = model(x_train)
    
    # 손실함수 계산
    loss = F.mse_loss(prediction, y_train)
    
    # 역전파 수행
    optimizer.zero_grad() # 기울기(gradient)를 0으로 초기화
    loss.backward() # 손실함수를 미분하여 기울기 계산
    optimizer.step() # W와 b를 업데이트
    
    # 10번 반복마다 로그 출력
    if epoch % 10 == 0:
        print('Epoch {:4d}/{} loss : {:.6}'.format(epoch, nb_epochs, loss.item()))

TypeError: 'list' object is not callable

In [7]:
# 임의의 입력 10을 선언
list = [15,0,0,1,1,1,1,2,1,20]
new_var = torch.FloatTensor([list])

# 입력한 값 10에 대해서 예측값 y를 리턴받아서 pred_Y에 저장
pred_y = model(new_var) # 순전파 연산

# y = 0.1x + 0.3 이므로 입력이 10이라면 y가 1.3에 가까운 값이 
#나와야 제대로 학습이 된것
print("훈련 후 입력이 10일 때의 예측값 :", pred_y*100)

# # 모델 파라미터 W, b 출력
# print(list(model.parameters()))

# # 데이터 분포와 추정된 직선 그리기
# plt.plot(x_data, y_data, 'ro') # 데이터 분포
# plt.plot(x_data, model(x_train).detach().numpy()) # 직선
# plt.xlabel('x') # x축 라벨
# plt.ylabel('y') # y축 라벨
# plt.show()

훈련 후 입력이 10일 때의 예측값 : tensor([[56.7805]], grad_fn=<MulBackward0>)

In [8]:
list = [15,0,0,1,1,1,1,2,1,20]
print(list)

[15, 0, 0, 1, 1, 1, 1, 2, 1, 20]